In [1]:
my_list=[1,4,2,"three",8]

In [2]:
for i in my_list:
    print(i)

1
4
2
three
8

In [3]:
my_list+=[7,8]
# not too expensive way of adding to list
# acts like alist extender

In [4]:
my_list

[1, 4, 2, 'three', 8, 7, 8]

In [5]:
2 in my_list 
# this will be slow for large list 
# effective way to speed up searching, example using the sort list
# and a technic called binary search

True

In [6]:
my_list.sort()
# error is due to diff types

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
int_list = [x for x in my_list if isinstance(x, int)]

In [ ]:
int_list

[1, 2, 4, 8, 7, 8]

In [ ]:
int_list.sort()

In [ ]:
int_list

[1, 2, 4, 7, 8, 8]

In [ ]:
# binary search
import bisect

In [ ]:
bisect.bisect_left(int_list,5)
# you need to double check to se if it was actually found
# it tells you where the item was found or where it will be inserted

3

In [ ]:
# transforming data list comprehension
squares= [i*i for i in range(100)]

In [ ]:
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [ ]:
even_num= [i for i in range(50) if i%2==0]

In [ ]:
even_num

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [ ]:
even_n= []
for i in range(20):
    if i%2==0:
        even_n.append(i)

In [ ]:
even_n

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# tuple 
t= (4,6,"b",6)

In [ ]:
type(t)

tuple

In [ ]:
t

(4, 6, 'b', 6)

In [ ]:
# A tuple with just one value must have a 
# comma before the close parenthesis. 
# This distinguishes it from just using parenthesis 
# for grouping. ctr / for comment
"""
This is a multi-line
comment-like text block.
"""
t2=(1,)

In [ ]:
# python dictionary great for searching items if 
# you need to choose immutable key
# technically, python is checking wheter it can hash the key

In [ ]:
hash(3)

3

In [ ]:
hash("goal")

5929420617254611701

In [ ]:
hash([3]) 
# list do not work because you can change them

TypeError: unhashable type: 'list'

In [ ]:
hash((4,))

8524022316992554414

In [ ]:
my_data=[3,5,"five", "ten", 7,12,23]

In [ ]:
myint=[i for i in my_data if isinstance(i, int)]

In [ ]:
myint

[3, 5, 7, 12, 23]

In [ ]:
my_doc={"height": 65,"City": "Boston", "state": "MA"}

In [ ]:
len(my_doc)

3

In [ ]:
# fetching with key
my_doc["height"]

65

In [ ]:
my_doc["heigth"]
# key error

KeyError: 'heigth'

In [ ]:
"heigth"in my_doc

False

In [ ]:
"height" in my_doc

True

In [ ]:
# jupiter threats a non value with no output by default
my_doc.get("heigth")

In [ ]:
my_doc.get("height")

65

In [ ]:
my_doc["weight"]=120

In [ ]:
my_doc["mood"]="happy"

In [ ]:
my_doc[123]="yes"

In [ ]:
my_doc

{'height': 65,
 'City': 'Boston',
 'state': 'MA',
 123: 'yes',
 'mood': 'happy',
 'weight': 120}

In [ ]:
# if you just iterate on dictionaries, you will get the keys back
for k in my_doc:
    print(k)

height
City
state
123
mood
weight

In [ ]:
# another way
for k in my_doc.keys():
    print(k)

height
City
state
123
mood
weight

In [ ]:
for i in my_doc.values():
    print(i)

65
Boston
MA
yes
happy
120

In [ ]:
# using items method
for i,r in my_doc.items():
    print(i,r)

height 65
City Boston
state MA
123 yes
mood happy
weight 120

In [ ]:
# dictionary comprehensions

In [ ]:
squares={i: i**2 for i in range(10)}

In [ ]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
for i in squares.values():
    print(i)

0
1
4
9
16
25
36
49
64
81

In [ ]:
# inverting a dictionary
sqrt={squares[v]:v for v in squares}

In [ ]:
sqrt

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9}

In [ ]:
#dick comprehensions are used for building data structure
# no for storing data

In [ ]:
# Python set
#  with no input, set functions return an empty set
# they are like list but also like dic bcos can be assessed
# by keys and have curly braces
x=set()

In [ ]:
x

set()

In [ ]:
# set often takes a sequence which will be used to populate
# the set
x=set(range(9))

In [ ]:
x

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
y={2,4,6,7}

In [ ]:
#set comprehension is a mix btw list and dict comprehension
z={i for i in range(8) if i%3==0}

In [ ]:
z

{0, 3, 6}

In [ ]:
# adding to the set
z.add(4)

In [ ]:
z

{0, 3, 4, 6}

In [ ]:
z.remove(6)

In [ ]:
z

{0, 3, 4}

In [ ]:
4 in z

True

In [ ]:
4 not in z

False

In [ ]:
not 3 in z

False

In [ ]:
y

{2, 4, 6, 7}

In [ ]:
z

{0, 3, 4}

In [ ]:
# union operator for sets
y|z

{0, 2, 3, 4, 6, 7}

In [ ]:
z&y 
#  i.e in both

{4}

In [ ]:
y&z

{4}

In [ ]:
[m for m in dir(set) if not m.startswith("_")]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# using difference method
z.difference(y)

{0, 3}

In [ ]:
a=5

In [ ]:
b=a

In [ ]:
b

5

In [ ]:
id(a)

99334607377448

In [ ]:
id(b)

99334607377448

In [ ]:
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
d=x.copy()

In [ ]:
dir(x.reverse)

AttributeError: 'set' object has no attribute 'reverse'

In [ ]:
x.pop.__doc__

'Remove and return an arbitrary set element.\nRaises KeyError if the set is empty.'